.gitignore/
.vscode/
.idea/
dist/
build/
venv/
.venv/
PAM_times.txt
.pyirc

.DS_Store
results/
.idea

# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution files.
*/expam.egg*
./expam/

buildandtwine.sh
