.gitignore/
.vscode/
.idea/
dist/
build/
venv/
.venv/
PAM_times.txt
.pyirc

.DS_Store
results/
.idea

# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution files.
*/expam.egg*
./expam/

src/benchmark/database_access_profiling/data
src/benchmark/database_access_profiling/raw

# Compiled C files.
**/_build/

/.luarc.json

buildandtwine.sh
