.gitignore/
.vscode/
.idea/
dist/
build/
venv/
PAM_times.txt
.pyirc

.DS_Store
results/
.idea

# Byte-compiled / optimized / DLL files
src/expam/__pycache__
src/expam/c/__pycache__
*.py[cod]

# C extensions
*.so

# Distribution files.
*/expam.egg*

buildandtwine.sh
